
* {
  box-sizing: border-box;
}


body {
  background-color:gray;
  font-family: system-ui, sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

/* 
   NAVIGATION
 */

nav {
  background-color: white;
  padding: 8px 16px;

  display: flex;
  justify-content: space-between;

  align-items: center;
}

#destinations {
  display: flex;
  align-items: center;

  gap: 24px;
}

#actions {
  display: flex;
  align-items: center;

  gap: 16px;
}

nav button {
  background-color: #ea4c89;
  border: 0;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  padding: 10px 16px;
}

/*
   HERO SECTION
 */

#hero {
  height: 460px;
  background-color: black;
  color: white;
  padding: 24px 72px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 32px;
}

#headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 32px;
}

h2 {
  margin: 0;
  font-size: 16px;
}

input {
  height: 58px;
  width: 80%;
  max-width: 600px;
  border: 0;
  border-radius: 29px;
  padding: 0 24px;
}

#trending {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  flex-wrap: wrap;
}

#trending p {
  background-color: white;
  color: black;
  border-radius: 50px;
  padding: 6px 15px;
}

/* 
   SUB-NAVIGATION
 */

#subnav {
  background-color: white;
  padding: 32px 72px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#subnav button {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 16px;
}

/* 
   MAIN CONTENT AND CARDS
 */

main {
  background-color: white;
  padding: 32px 72px;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
}

.img-placeholder {
  width: 355px;
  height: 270px;
  background-color: gray;
  border-radius: 8px;
}

.card-footer {
  font-size: 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer * {
  margin-top: 8px;
}

/* 
   SMALL SCREEN RESPONSIVENESS
 */

@media (max-width: 600px) {
  
  nav {
    flex-direction: column;
    gap: 16px;
  }


  #destinations,
  #actions {
    flex-wrap: wrap;
    justify-content: center;
  }


  #hero {
    padding: 24px;
  }


  input {
    width: 100%;
  }

  #subnav {
    padding: 24px 24px 0;
  }

  main {
    padding: 24px;
  }

  .card {
    width: 100%;
  }

  .img-placeholder {
    width: 100%;
  }
}